html {
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-image: url(../Converter_background.jpg);
    background-size: 1000px 1200px;
    background-position: no-repeat;
}